.ShowNote {
	display: flex;
	flex-direction: column;
	width: 40%;
	height: calc(100vh - 50px);
}

.ShowNote_buttons {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.ShowNote_buttons_button {
	width: 25%;
}

.ShowNote_buttons_form > button {
	height: 100%;
	width: 100%;
}

@media (max-width: 480px) {
	.ShowNote {
		width: 100%;
		height: auto;
		align-items: center;
		margin-bottom: 20px;
	}

	.ShowNote_buttons {
		margin-top: 20px;
	}
}
